<?xml version="1.0"?>

<model>
  <name>labfabex_ground</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Juan Santacoloma</name>
    <email>jssantacolomab@unal.edu.co</email>
  </author>

  <description>
    A model of the LabFabEx  Unal with texture.
  </description>

</model>