<?xml version="1.0" ?>
<model>
    <name>muebles</name>
    <version>1.0</version>
    <sdf version="1.6">muebles.sdf</sdf>
    <author>
        <name>Wilmer David Garzon Caceres</name>
        <email>wdgarzonc@unal.edu.co</email>
    </author>
    <description>
        Labfabex furniture
    </description>
</model>
